dist: bionic
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install python3-dev python3-pip
  - pip install -U pip
language: python
python:
  - 3.7
env:
  global:
    - FLASK_APP="autoapp.py"
    - DATABASE_URL="sqlite:////tmp/dev.db"
    - SECRET_KEY="not-so-secret"
install:
  - pip install pipenv
  - pipenv install
script: 
  - pipenv run flask lint 
  - pipenv run flask test
