dist: bionic
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install python3-dev python3-pip
  - pip install -U pip
language: python
python:
  - 3.7
install:
  - pip install pipenv
  - pipenv install
jobs:
  include:
    - name: "Lint Check"
    - script: pipenv run flask lint 
    - stage: "Tests"
    - name: "Unit Tests"
    - script: pipenv run flask test
