dist: bionic
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install python3-dev python3-pip
  - pip install -U pip
language: python
python:
  - 3.7
install:
  - pip install pipenv
  - pipenv install --dev
script: 
  - pipenv run flask lint 
  - pipenv run flask test
